<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/styles_variation.css'>
  </head>
  <body>
  	<h1>Optimizely Slack Channels Hangman</h1>
    <br>
    <br>
    <h3>Instructions</h3>
    <ul>
      <li>Like the regular hangman, you'll be given a word represented by blank spaces.</li>
      <li>You will have 6 guesses to figure out the slack channel name.</li>
      <li>You can guess a single letter or you can attempt to guess the entire channel name.</li>
      <li>If guessing the entire channel, you won't get feedback on which letters are and aren't present.</li>
    </ul>
  	<br>
    <h4><a href='/game'>To Infinity <br> and Beyond!</a></h4>
  </body>
</html>
