<html>
  <head>
  </head>
  <body>
  	<h2>Hogwarts Hangman</h2>
    <br>
    <br>
    <h3>Instructions</h3>
    <p>
      Like the regular hangman, you'll be given a word represented by blank spaces.
      <br>
      You will have 6 guesses to figure out the word.
      <br>
      You can guess a single letter or you can attempt to guess the entire word. 
      <br>
      If guessing the entire word, you won't get feedback on which letters are and aren't present.
      <br>
      To save the game at any time, click the 'save' button.
    </p>
  	<br>
    <h4><a href='/game'>Start</a></h4>
  </body>
</html>