<html>
  <head>
  </head>
  <body>
  	<h3>Hogwarts Hangman</h3>
    <!-- <p>
      Like the regular hangman, you'll be given a word represented by blank spaces.
      You will have 6 guesses to figure out the word. 
      You can guess a single letter or you can attempt to guess the entire word. 
      If guessing the entire word, you won't get feedback on which letters are and aren\'t present.
      To save the game at any time, click the 'save' button.
    </p> -->
  	<br>
    <h4>❾¾ Menu</h4>
    <form action='/index' method='post'>
      <input type='text' name='name'>
      <input type='submit'>
    </form> 
    <% if @message %>
      <p><%= @message %></p>
    <% end %>

    <% if @name %>
      <h1>Hello <%= @name %></h1>
    <% end %>

    

    <ul>
      <% @names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  </body>
</html>