<html>
  <head>
  </head>
  <body>
  	<h2>Hogwarts Hangman</h2>
    <br>
    <h4>You didn't guess the word!</h4>
    <br>
    <h4>The word was <%= @word %></h4>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qS368iXcUvk?start=167&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <a href='/'>Start over</a>
  </body>
</html>