<html>
  <head>
    <link rel='stylesheet' type='text/css' href='/css/styles_variation.css'>
  </head>
  <body>
  	<h1>Optimizely Hangman</h1>
    <h3>BUST!</h3>
    <h4>The channel name was <%= @word %></h4>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7HofNr69DoQ?controls=0&amp;start=85" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <br>
    <a href='/'>Start over</a>
  </body>
</html>
