@font-face {
	font-family: 'harry font';
	src: url('/css/fonts/harry.ttf');
}

h1 {
	color: black;
	font-size: 8em;
	padding-top: .5em;
	font-family: 'harry font';
}

body {
	background-image: url('http://static.wixstatic.com/media/ac91d08b77790a68032a572af12d1ffe.wix_mp_1024');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

a {
	font-family: 'harry font';
	font-size: 3em;
	font-color: #390100;
	text-decoration: none;
	color: black;
}

a:hover {
	color: #000A90;
}


/*#btn {
	background-image: url('https://cdn2.iconfinder.com/data/icons/harry-potter-outline-collection-1/60/25_-_Harry_Potter_-_Outline_-_Elder_Wand-512.png');
	/*background-color: blue;*/
	background-size: contain;
	background-repeat: no-repeat;
	padding: 2em;
}*/